.cards {
    display: flex;
    width: 60vw;
    height: 50vh;
    flex-direction: column;
    border-radius: 1.5rem;
    background-color: rgba(0, 0, 0, 1);
    padding: 1.5rem;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.3);
  }
  
  .price {
    font-size: 3rem;
    line-height: 1;
    font-weight: 600;
    color: rgba(255, 255, 255, 1);
  }
  
  .lists {
    margin-top: 2.5rem;
    display: flex;
    flex-direction: column;
    grid-row-gap: 0.75rem;
    row-gap: 0.75rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
    color: rgba(255, 255, 255, 1);
  }
  
  .list {
    display: flex;
    align-items: center;
  }
  
  .list svg {
    height: 1rem;
    width: 1rem;
  }
  
  .list span {
    margin-left: 1rem;
  }
  
  .action {
    margin-top: 2rem;
    width: 100%;
    border: 2px solid  rgba(255, 255, 255, 1);
    border-radius: 9999px;
    background-color: rgba(255, 255, 255, 1);
    padding: 0.625rem 1.5rem;
    font-weight: 600;
    text-align: center;
    font-size: 0.875rem;
    color: rgba(0, 0, 0, 1);
    outline: none;
    text-decoration: none;
    transition: all .2s ease;
  }
  
  .action:hover {
    color: rgba(255, 255, 255, 1);
    background-color: transparent;
  }